:root {
  /* Шрифты */
  --primery-font: Roboto;
  --secondary-font: Raleway;

  /* Цвета */

  --accent-color: #2196f3;
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --background-color: #2f303a;
  --background-color-alfa: rgba(47, 48, 58, 0.8);
  --title-color: rgb(33, 33, 33);
  --common-txtcolor: #757575;
  --footer-contacts: rgb(255, 255, 255, 0.6);
  --button-color: #f5f4fa;

  --header-line: #ececec;
  --card-bottom-line: #eeeeee;

  --background-hero: #C4C4C4;
  --client-logo: #AFB1B8;
  --client-background: #F5F5F5;

  /* animaeion effect */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time-duration: 250ms;
}

/******* Стили позиционирования  *******/
h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}


img {
  max-width: 100%;
  height: auto;
}


.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}


.section {
  padding-top: 94px;
  padding-bottom: 94px;
}


.header-container,
.nav-list,
.adress-list {
  display: flex;
}


.header-container {
  align-items: center;
}


.nav-item:not(:last-child) {
  margin-right: 50px;
}


.adress-list {
  margin-left: auto;
}


.adress-item:not(:last-child) {
  margin-right: 50px;
}

/* ****************************************** */

body {
  color: var(--common-txtcolor);
  font-family: var(--primery-font), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Логотип */

.logo {
  margin-right: 93px;
  color: var(--accent-color);
  font-family: var(--secondary-font), sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}


.logo-primary {
  color: var(--color-primary);
}


.logo-secondary {
  color: var(--color-secondary);
}

/**
  |========================================================
  | Стилизация верхнего меню - навигации и списка контактов
  |========================================================
*/

.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--header-line);
}


.nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-color);

  transition: color var(--time-duration) var(--timing-function);
}


.adress-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--common-txtcolor);
  transition: color var(--time-duration) var(--timing-function);
}


.current {
  position: relative;
  color: var(--accent-color);
}


.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}


/* Стилизация визуальных еффектов  елементов */
.list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}


.link {
  text-decoration: none;
}


.button:hover,
.button:focus,
.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
  color: var(--color-secondary);
}


.link:hover,
.link:focus {
  color: var(--accent-color);
  cursor: pointer;
}


/* Стилизация секции Герой */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--background-color);
  color: var(--color-secondary);
  text-align: center;
}


.overlay {
  max-width: 1600px;
  height: 600px;
  background-color: var(--background-hero);
  background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)), url("../images/icons/hero-bgr.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}


.hero-title {

  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}


.hero-button {
  color: inherit;
  font-family: var(--primery-font);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;

  transition: box-shadow var(--time-duration) var(--timing-function);
}


.hero-button:focus,
.hero-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


/* Стилизация Заголовки секций */
.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}


.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


/* Стилизация Секция Особенности */
.features-title {
  padding-bottom: 10px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}


.features-list {
  display: flex;
}


.features-item {
  width: calc((100% - 90px) / 4);
}


.features-item:not(:last-child) {
  margin-right: 30px;
}


/*секция наших проектов */

.project-section {
  padding-top: 0;
}


.projects-list {
  display: flex;
  margin-top: 50px;
}


.projects-item {
  position: relative;
  display: block;
  width: calc((100% - 60px) / 3);
}


.projects-item:not(:last-child) {
  margin-right: 30px;
}


.projects-img {
  display: block;
}


.project-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  text-align: center;
  padding: 27px 0px;
  color: var(--color-secondary);

  background-color: var(--background-color-alfa);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}


/* ******************* */

/* Секция Наша команда */
.team {
  color: var(--common-txtcolor);
  background-color: var(--button-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}


.team-list {
  display: flex;
  margin-top: 50px;
}


.team-card {
  width: calc((100% - 90px) / 4);
  text-align: center;
  background: var(--color-secondary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-text {
  margin-bottom: 16px;
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.team-card .team-title {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.team-img {
  display: block;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}


.sotial-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}


.sotial-link {
  color: var(--client-logo);
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  transition: color var(--time-duration) var(--timing-function), background-color var(--time-duration) var(--timing-function);
}


.sotial-logo {
  display: flex;
  fill: currentColor;
}


.sotial-link:hover,
.sotial-link:focus {
  background-color: var(--accent-color);
  color: var(--color-secondary);
}


/* СЕкція Постійні клієнти */
.client-list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}


.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;

  color: var(--client-logo);
  border: 1px solid currentColor;
  border-radius: 4px;

  transition: color var(--time-duration) var(--timing-function), border-color var(--time-duration) var(--timing-function);
}


.client-link:focus,
.client-link:hover {
  fill: var(--accent-color);
}


/* Стили футера */
.footer {
  line-height: 24px;
  color: var(--color-secondary);
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}


.footer-link {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-secondary);
}


.footer-item:not(:last-child) {
  margin-bottom: 9px;
}


.contacts {
  color: var(--footer-contacts);
}


.foot-adress {
  margin-top: 20px;
}


.email-input {
  margin-left: 93px;
}


.foteer-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}


.footer-form-btn {

  padding: 10px 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  background: var(--accent-color);
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  border-radius: 4px;
  transition: box-shadow var(--time-duration) var(--timing-function);
}


.footer-form-btn:focus,
.footer-form-btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}


.footer-form-input {

  width: 358px;
  height: 50px;
  padding: 16px 15px;

  color: var(--footer-contacts);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}


.join,
.footer-form-title {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}


.sotial-footer {
  width: 206px;
  height: 80px;
}


.footer .sotial-list {
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer .sotial-link {
  color: var(--color-secondary);
  background-color: rgba(255, 255, 255, 0.1);

  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  transition: background-color var(--time-duration) var(--timing-function);
}


.footer .sotial-logo {
  display: flex;
  fill: currentColor;
}


.sotial-footer {
  margin-left: 70px;
}


.footer .sotial-link:hover,
.footer .sotial-link:focus {
  background-color: var(--accent-color);
  color: var(--color-secondary);
}


.footer .container {
  display: flex;
  align-items: baseline;
}


/* ---------------------------- */
/*        Modal window          */
/* ---------------------------- */

.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--time-duration) var(--timing-function), visibility var(--time-duration) var(--timing-function);
}


.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 40px 50px;

  height: 581px;
  width: 528px;
  background-color: var(--color-secondary);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  transition: transform var(--time-duration) var(--timing-function), opacity var(--time-duration) var(--timing-function);
}


.modal-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.1);
  background-color: var(--color-secondary);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}


.modal-form-title {
  display: block;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  line-height: 1.15;
  color: var(--title-color);
  margin-bottom: 12px;
}


.user-data-group {
  margin-bottom: 20px;
}


.user-data-label {
  position: relative;
  display: block;
  margin-bottom: 10px;
}


.user-data-label:last-child {
  margin-bottom: 0px;
}


.user-data-title {
  display: block;
  color: var(--common-txtcolor);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}


.user-data-input,
.user-data-message {
  width: 100%;
  height: 40px;
  padding-left: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color var(--time-duration) var(--timing-function);
}


.user-data-input:focus,
.user-data-input:hover,
.user-data-message:hover,
.user-data-message:focus {
  border-color: #2196f3;
  cursor: pointer;
}


.user-data-input:focus+.user-data-icon>.data-icon,
.user-data-input:hover+.user-data-icon>.data-icon {

  fill: #2196f3;
}


.user-data-message {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}


.user-data-message::placeholder {

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}


.user-data-icon {

  position: absolute;
  top: 29px;
  left: 12px;

  transition: fill var(--time-duration) var(--timing-function);
}


.user-data-agreement {

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
}


.agreement-check {
  opacity: 0;
  transition: opacity var(--time-duration) var(--timing-function);
}


.user-data-checkbox:checked+.agreement-icon .agreement-check {
  opacity: 1;
}


.user-data-checkbox:focus+.agreement-icon {
  outline: auto;
}


.user-data-agreement-text {
  color: var(--common-txtcolor);
  line-height: 1.71;
}

.user-data-agreement-link {
  color: rgba(33, 150, 243, 1);
}


.user-data-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  color: var(--color-secondary);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: #2196F3;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: transparent;
  transition: bacground-color var(--time-duration) var(--timing-function);
}


.user-data-btn:hover,
.user-data-btn:focus {
  cursor: pointer;
  background-color: #188CE8;
  ;
}

/* ----------------- */

/* Стилизация Портфолио */

.button {
  padding: 6px 22px;
  background-color: var(--button-color);
  color: var(--title-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-color: var(--button-color);
  border-radius: 4px;

  border: none;

  transition: color var(--time-duration) var(--timing-function), background-color var(--time-duration) var(--timing-function), box-shadow var(--time-duration) var(--timing-function);
}


.gallery {
  display: flex;
  flex-wrap: wrap;
}


.gallery-item {
  width: calc((100% - 60px) / 3);
}


.gallery-link {
  display: inline-block;

  transition: box-shadow var(--time-duration) var(--timing-function);
}


.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}


.gallery-item:not(:nth-child(3n)) {
  margin-right: 30px;
}


.gallery-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}


.gallery-item img {
  display: block;
}


.card-content {
  padding: 20px 24px;
  border-bottom: 1px solid var(--card-bottom-line);
  border-left: 1px solid var(--card-bottom-line);
  border-right: 1px solid var(--card-bottom-line);
}


.gallery-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}


.gallery-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--common-txtcolor);
}


/*    OVERLAY    */


.overlay-thumb {
  position: relative;
  overflow: hidden;
}


.gallery-link:hover .overlay-card {
  transform: translate(0);
}


.overlay-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  transition: transform var(--time-duration) var(--timing-function);
}


.overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
}


.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}


.button-list .button:hover,
.button-list .button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}


.button-list-item:not(:last-child) {
  margin-right: 8px;
}


/* Стилизация декоративных елементов */
.icon {
  margin-right: 10px;
  fill: currentColor;
}


.icon:hover {
  fill: var(--accent-color);
}


.icon-header {
  display: flex;
  align-items: center;
}


.icon-features {
  display: flex;
  background-color: var(--button-color);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}


.client-logo {
  fill: currentColor;
}